<div class="mainContainer">
  <div class="container-fluid">
    <div class="row justify-content-md-start">
      <div class="offset-md-4">
        <h3>Shop</h3>
      </div>
    </div>
    <div class="row justify-content-md-start">
      <div class="col-md-3">
        <app-product-list-component></app-product-list-component>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <app-cart></app-cart>
      </div>
      <div class="col-auto">
      </div>
    </div>
  </div>
</div>
